{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ "<!-- cities -->" | safeHTML }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        {{ with $data.homepage.cities }}
        <h3 class="section-title">{{ .title | markdownify }}</h3>
        {{ end }}
      </div>
    </div>
    <div class="row">

      {{ range .Data.Pages }}
      {{ "<!-- cities -->" | safeHTML }}
        {{ .Render "cities" }}
      {{ end }}

      <!-- 地图展示控件 -->
      <div id="baidu-map-container" class="col-6 col-md-offset-6 cities-map"></div> 
      
      {{ "<!-- JS Plugins -->" | safeHTML }}
      <script src={{.Params.jquery_lib | safeURL}}></script>

      {{ "<!-- 引入百度地图依赖JS库 -->" | safeHTML }}
      {{ range .Params.baidu_maps }}
      <script type="text/javascript" src="{{ .link | safeURL }}"></script>  
      {{ end }}

      {{ "<!-- 引入自定义地图操作相关 -->" | safeHTML }}
      {{ $script := resources.Get .Params.cities_script | minify}}
      <script src="{{ $script.Permalink | safeURL }}"></script>

      <script type="text/javascript">
        // 初始化所有城市信息
        var mapData = [];
        var data = {};
        {{ range .Data.Pages }}
            data = {};
            data["code"] = {{ .Params.code }};
            data["name"] = {{ .Params.name }};
            data["longitude"] = {{ .Params.longitude }};
            data["latitude"] = {{ .Params.latitude }};
            mapData.push(data);
        {{ end }}
        cloudNativeBaiduMap(mapData);
      </script>
    </div>
  </div>
</section>
{{ "<!-- /cities -->" | safeHTML }}


{{ end }}
