/* city */

.city-map {
  height: 530px;
}

.city-image {
  width: 100%;
  height: auto;
}

.city-margin-top-10 {
  margin-top: 10px;
}

.city-margin-top-5 {
  margin-top: 10px;
  font-size: 5px;
}

.city-padding-left-0 {
  padding-left: 0px;
}

.cities-list {
	height: 75%;
	overflow:auto; 
}

/* /city */