body {
  background-color: $body-color;
  overflow-x: hidden;
}

::selection {
  background: lighten($color: $primary-color, $amount: 10);
  color: $white;
}

/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

ol,
ul {
  list-style-type: none;
  margin: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;

  &:focus {
    outline: 0;
  }
}

a:hover {
  color: $primary-color;
}

a.text-white,
a.text-light {
  &:hover {
    color: $primary-color !important;
  }
}

a h4,
a h5 {
  &:hover {
    color: $primary-color;
  }
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 150px;
  padding-bottom: 150px;

  &-sm {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &-title {
    margin-bottom: 40px;

    &-border {
      position: relative;
      height: 5px;
      width: 30px;
      background: $primary-color;
      border-radius: 10px;
      margin-bottom: 20px;

      &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 50%;
        background: $primary-color;
        border-radius: 10px;
        right: -60%;
        top: 0;
      }

      &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 25%;
        background: $primary-color;
        border-radius: 10px;
        right: -100%;
        top: 0;
      }

      &.border-center {
        margin-left: calc(50% - 27px);
      }

      &.border-white {
        background: $white;

        &::before {
          background: $white;
        }

        &::after {
          background: $white;
        }
      }

      &.border-inline {
        display: inline-block;
        margin-bottom: 5px;
      }
    }
  }

  &-title-sm {
    font-family: $primary-font;
    font-weight: 600;
    color: $text-color;
  }
}

.section-bottom-lg {
  padding-bottom: 240px;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-contain {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-fixed {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.border-color {
  border-color: $border-color !important;
}

/* overlay */

.overlay {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $black;
    opacity: .6;
  }
}

.overlay-secondary {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $secondary-color;
    opacity: .85;
  }
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: $primary-color !important;
}

.bg-secondary {
  background: $secondary-color !important;
}

.bg-secondary-darken {
  background: darken($color: $secondary-color, $amount: 3) !important;
}

.bg-gray {
  background: $gray !important;
}

.bg-gray-white {
  background-image: linear-gradient(to right, $gray 45%, $white 0%);
}

.bg-white-gray {
  background-image: linear-gradient(to right, $white 45%, $gray 0%);
}

.bg-white2-gray {
  background-image: linear-gradient(to right, $white 70%, $gray 0%);
}

.text-primary {
  color: $primary-color !important;
}

.text-color {
  color: $text-color;
}

.text-light {
  color: #ddd !important;
}

.text-dark {
  color: $text-color-dark !important;
}

a.text-dark {
  &:hover {
    color: $primary-color !important;
  }
}

.hilighted {
  background: $secondary-color;
  padding: 0 5px;
  border-radius: 2px;
  color: $white;
}

.letter-spacing {
  letter-spacing: 2px;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.zindex-1 {
  z-index: 1;
}

.zindex-0 {
  z-index: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.min-height-400 {
  min-height: 400px;
}

.border-muted {
  border-color: #404751 !important;
}

.rounded-top-0 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.flex-basis-33 {
  flex-basis: 33.333333%;
}

.icon {
  font-size: 40px;
}

.icon-sm {
  font-size: 34px;
}

.icon-xs {
  font-size: 22px;
}

.icon-lg {
  font-size: 56px;
}

.box-shadow {
  box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1);
}

.font-size-30 {
  font-size: 30px;
}

.font-weight-semebold {
  font-weight: 600 !important;
}

.font-secondary {
  font-family: $secondary-font !important;
}

.text-decoration-none {
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important;
  }
}

.border-md-right {
  border-right: 1px solid;

  @include tablet {
    border: 0;
  }
}

.icon-bg {
  position: relative;
  background-color: rgba($color: $primary-color, $alpha: .2);
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 120px 135px 110px 90px;

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 5px;
    background: rgba($color: $primary-color, $alpha: .05);
    border: 2px solid $primary-color;
    border-radius: 130px 120px 160px 130px;
  }

  .icon {
    line-height: 100px;
  }
}

.water-wave {
  position: relative;
  animation-name: water-wave;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  &::before {
    animation-name: water-wave;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes water-wave {
  0% {
    border-radius: 120px 135px 110px 90px;

    &::before {
      border-radius: 130px 120px 160px 130px;
    }
  }

  25% {
    border-radius: 130px 140px 100px 110px;

    &::before {
      border-radius: 100px 147px 140px 120px;
    }
  }

  50% {
    border-radius: 110px 97px 150px 100px;

    &::before {
      border-radius: 102px 147px 140px 120px;
    }
  }

  75% {
    border-radius: 80px 107px 120px 90px;

    &::before {
      border-radius: 102px 147px 140px 120px;
    }
  }

  100% {
    border-radius: 120px 135px 110px 90px;

    &::before {
      border-radius: 130px 120px 160px 130px;
    }
  }
}

/* breadcrumb */
.breadcrumb-item+.breadcrumb-item::before {
  color: $white;
}

/* google map */
#map_canvas {
  height: 500px;
}

/* form control */

.form-control {
  height: 55px;
  padding: 0 30px;

  &-sm {
    height: 45px;
  }

  &:focus {
    box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1);
    border-color: $primary-color !important;
  }
}

.focus-shadow-none {
  box-shadow: none !important;
}

textarea.form-control {
  height: 150px;
}

textarea.form-control-sm {
  height: 100px;
}

/* /form control */

/* markdown style */
.content {
  * {
    margin-bottom: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
  }

  ul,
  ol {
    padding-left: 0;

    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 10px;

      &::before {
        position: absolute;
        content: "\f10c";
        font-family: $icon-font;
        font-size: 14px;
        left: 0;
        top: 1px;
        color: $primary-color;
        transition: .3s ease;
      }
    }
  }

  table {
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;

    border: 1px solid #dee2e6;

    th,
    td {
      padding: .75rem;
      vertical-align: top;
      border: 1px solid #dee2e6
    }

    thead {
      background: darken($color: $gray, $amount: 2);
    }

    tbody {
      background: $gray;

      td {
        text-align: left !important;
      }
    }
  }


  blockquote {
    p {
      margin-bottom: 0;
      color: $text-color-dark;
      font-style: italic !important;
    }
  }


  pre {
    padding: 10px 20px;
    background: $gray;
  }
}

/* /markdown style */