/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Project Name
VERSION:	Versoin Number
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/

@import 'variables';

@import 'typography';

@import 'mixins';

@import 'buttons';

@import 'common';

@import 'templates/navigation';

@import 'templates/slider';

@import 'templates/homepage';

@import 'templates/cta';

@import 'templates/pricing';

@import 'templates/blog';