<!-- <div class="col-md-3 box-shadow border-0 rounded-0 {{ .Params.showByDefault }} city-display city-introduction city-map" id="{{ .Params.Code }}">
  <h2 class="section-title">{{ .Params.City }}</h2>
  <h6 class="section-title-sm">{{ .Params.ShortDesc }}</h6>
  <div class="section-title-border"></div>
  <p class="mb-5">{{ .Params.Description }}</p>
  <a href="{{ .Params.Link }}" target="_blank" class="btn btn-primary hover-ripple">{{ .Params.DetailButton}}</a>
</div> -->

<div class="row">
  <div class="col-4">
    <img style="width: 100%;" src="/images/wechat-qrcode.png" />
  </div>
  <div style="margin-top: 10px;">
    <h4 class=""><a href="{{ .Params.Link }}">{{ .Params.name }}</a></h4>
    <p class="">站长：张三 李四</p>
  </div>
</div>