{{ $data := index .Site.Data .Site.Language.Lang }}

{{ with $data.homepage.about }}
<div class="container">
  <div class="row justify-content-between align-items-center">
    <div class="col-md-5 bg-contain" data-background="{{ .bg_image | relURL }}">
      {{ "<!-- about us image -->" | safeHTML }}
      <img class="img-fluid w-100" src="{{ .image_webp | relURL }}" onerror="this.src='{{.image | relURL }}'" alt="About Image">
    </div>
    <div class="col-md-6">
      <h2 class="section-title">{{ .title | markdownify }}</h2>
      <h6 class="section-title-sm">{{ .subtitle | markdownify }}</h6>
      <div class="section-title-border"></div>
      <p class="mb-5">{{ .content | markdownify }}</p>
      {{ if .button.enable }}
      {{ with .button }}
      <a href="{{ .link | relLangURL }}" class="btn btn-primary hover-ripple">{{ .label }}</a>
      {{ end }}
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
