{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- Team members -->
<section class="section">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-6" >
          <div>
            {{ "<!-- 引入核心成员个人照片 -->" | safeHTML }}
            {{ range .Params.core_members }}
            <img class="img-fluid col-3" src="{{ .image | relURL }}" title="{{ .name | markdownify }}" alt="About Image">
            {{ end }}
          </div>
      </div>
      <div class="col-md-6">
        <h2 class="section-title">{{ .Params.core_member_title | markdownify }}</h2>
        <div class="section-title-border"></div>
        <p class="mb-5">{{ .Params.core_member_desc | markdownify }}</p>
      </div>
    </div>
  </div>
</section>

<!-- Logo -->
<section class="section bg-gray position-relative">
  <div class="container position-relative zindex-1">
    <div class="row justify-content-between align-items-center">
      
      <div class="col-md-6">
        <h2 class="section-title">{{ .Params.logo_title | markdownify }}</h2>
        <h6 class="section-title-sm">{{ .Params.logo_short_desc | markdownify }}</h6>
        <div class="section-title-border"></div>
        <p class="mb-5">{{ .Params.logo_detail_desc | safeHTML }}</p>
      </div>
      <div class="col-md-5 bg-contain">
        {{ "<!-- 社区Logo -->" | safeHTML }}
        <img class="img-fluid w-100" src="{{ .Params.logo_image | relURL }}" title="{{ .Params.logo_title | markdownify }}" alt="{{ .Params.logo_title | markdownify }}">
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .Params.activity_title | markdownify }}</h2>
      </div>
      <div class="col-12 mx-auto">
        <div class="testimonial-slider">
          {{ range .Params.activities }}
            <div class="text-center">
            <a href="{{ .url | safeURL }}" target="_blank">
              {{ range .images }}
                <img class="img-fluid box-shadow mb-3 col-5 d-inline-block" src="{{ . | relURL }}" width="400px">
              {{ end }}
              <div>
                <h4>{{ .name | markdownify }}</h4>
              </div>
            </a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section bg-gray">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-5 bg-contain text-center">
        {{ "<!-- about us image -->" | safeHTML }}
        <img class="img-fluid" src="{{ .Params.join_us_image | relURL }}"  title="{{ .Params.join_us_title | markdownify }}" alt="About Image">
      </div>
      <div class="col-md-6">
        <h2 class="section-title">{{ .Params.join_us_title | markdownify }}</h2>
        <div class="section-title-border"></div>
        <p class="mb-5">{{ .Params.join_us_desc | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
