  
{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}



<section class="section justify">
<div class="container">
<div class="row justify-content-between align-items-center">
<div class="col-md-12">
<h2 class="section-title">核心成员</h2>
<div class="section-title-border"></div>
<p class="mb-12">目前社区已经有一个初步建立的管委会成员小组来组织和筹划社区的发展及相关社区活动。我们渴望有更多的核心成员加入，一起来努力把上海云原生社区发展壮大，为云原生的普及撒播知识的种子，促进云原生落地，开花，结果。</p>
</div>
<div class="row core-members">

<div class="member col-lg-4">
<img class="avatar avatar-member hover-ripple" src="https://cdn.pt-jq.cn/hangzhou_yangzhou.png" title="杨宙" alt="About Image" width="124px" height="124px">
<p class="tag">杨宙，云原生社区杭州站站长。蚂蚁金服技术专家，对 DevOps、Kubernetes、Istio、OAM 等有着浓烈的兴趣。致力于提升研发效能，优化交付的质量及体验。自研女娲低代码开发平台，分离技术和业务，收口技术共性问题。
</p>
</div>
<div class="member col-lg-4">
<img class="avatar avatar-member hover-ripple" src="https://cdn.pt-jq.cn/hangzhou_shanshan.jpg" title="黄亚珊" alt="About Image" width="124px" height="124px">
<p class="tag">黄亚珊，杭州站核心成员，发烧级热爱云原生技术，致力于云原生技术的传播交流。积极与阿里，头条，腾讯，滴滴等一线大厂技术同学交流，行业&职业发展，相信大家也在各城市站活动中均能看到她的身影。
</p>
</div>
<div class="member col-lg-4">
<img class="avatar avatar-member hover-ripple" src="https://cdn.pt-jq.cn/hangzhou_jiebo.png" title="郑捷波" alt="About Image" width="124px" height="124px">
<p class="tag">郑捷波，杭州站核心成员，擅长kubernetes、docker、serverless等云原生技术，微服务应用架构及部署实践。积极支持云原生技术的传播，沉淀最佳实践经验。业余爱好还会点UI设计^_^。
</p>
</div>
</div>
</div>
</div>
</section>
<section class="section justify bg-gray position-relative">
<div class="container position-relative zindex-1">
<div class="row justify-content-between align-items-center">
<div class="col-md-6">
<h2 class="section-title">社区Logo</h2>
<h6 class="section-title-sm">杭州站专属Logo融合杭州站美丽的西湖夜景，既有闲暇的漫步西湖边，相互交流云原生技术与传播。</h6>
<div class="section-title-border"></div>
<p class="mb-5 desc">整体形象是融合杭州站美丽的西湖夜景，结合k8s标志性logo，寓意在美丽杭州湖畔，也承载着众多云原生技术爱好者共同理想。<br /> </p>
</div>
<div class="col-md-5 bg-contain">

<img class="img-fluid w-100 hover-ripple" src="http://cdn.pt-jq.cn/hangzhou_logo1.jpg" title="社区Logo" alt="社区Logo">
</div>
</div>
</div>
</section>
<section class="section justify">
<div class="container">
<div class="row">
<div class="col-12 text-center">
<h2 class="section-title">社区活动</h2>
</div>
<div class="col-12 mx-auto">
<div class="testimonial-slider">
<div class="text-center">
<img class="img-fluid hover-ripple" src="https://cdn.pt-jq.cn/hangzhou_huodong.jpg" title="户外烧烤" alt="户外烧烤">
</div>
</div>
</div>
</div>
</div>
</section>
<section class="section justify bg-gray">
<div class="container">
<div class="row justify-content-between align-items-center">
<div class="col-md-12">
<h2 class="section-title">加入杭州站</h2>
<div class="section-title-border"></div>
<p class="mb-5">如果你也想参与到云原生社区，一起交流，学习。 如果你想为云原生社区杭州站贡献自己的一份力量，扫描页面底部的二维码关注云原生社区公众号， 如需加入微信群，请搜索微信号: yangzdpssoft, 备注云原生社区, 核心成员会将您加入群内。</p>
</div>
</div>
</div>
</section>


<style>
  img {
    vertical-align: middle;
    border-style: none;
  }

  .section.justify {
      padding-top: 80px!important;
      padding-bottom: 80px!important;
  }

  .avatar-member{
    border-radius: 50%!important;
    max-width: 40%;
    height: auto;    
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 6px;
    margin: 15px;
    padding: 5px;
    transition: all .25s;
    border: 1px solid #eff3f9;   
    background: #fff;
    color: #fff;   
  }

  .hover-ripple {
    transition: .2s ease-in;
  }

  .hover-ripple::after {
    animation: sonarEffect 1s ease-out 50ms;
  }

  .core-members {
    text-align: center;
    margin: 15px;
    color: #b3b6b9;
    font-weight: 400;    
  }

  .tag {
    text-align: left;
    margin: 15px;
    color: #b3b6b9;
    font-weight: 400;    
  }

  .desc{
    color: #b3b6b9;
    font-weight: 400;      
  }
</style>

{{ end }}
